<div>
    <p> Argumentos de entrada: {{arg}}</p>
    <p> Nombre de la plataforma (sistema operativo): {{SO}}</p>
    <p> Versión de node.js: {{node}}</p>
    <p> Uso de memoria: {{memory}}</p>
    <p> Path de ejecución: {{path}}</p>
    <p> Process id: {{id}}</p>
    <p> Carpeta corriente: {{pathCorriente}}</p>
</div>